{% extends 'blog/base.html' %}
{% block title %}Exames{% endblock %}
{% block content %}
<div class="resultados">
	<h2>Exames submetidos para segmentação</h2>
</div>
<div class="container ">
		<div class="row">
			{% for post in alzheimer %}
				<div class="card-body seg">
					<h5 class="card-title">{{ post.nome }}</h5>
						<p>Nome do arquivo criado: {{post.imagem}}</p>
						<p>
						{% if  post.status_seg == '2' %}
							<strong>Probabilidade de ter a doença de Alzheimer: {{post.resultado_ad}}%</strong><br>
							<strong>Cérebro saudável: {{post.resultado_cn}}%</strong><br>
							<a href="{{post.pdf_volbrain}}" class="btn btn-success" download >PDF Segmentação</a>
						{% elif post.status_seg == '1' %} 
							<span class="btn btn-warning">Processando</span>
					  {% elif post.status_seg == '0' %}
							<span class="btn btn-danger">Erro</span>
						{% endif %}
							<span class="publicacao">Criado em {{ post.created_at }} por {{ post.autor }}</span>
						</p>
					</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}